* {
    margin: 0;
    padding: 0;
  }
  .container{
    display: flex;
    margin: auto;
    width: 80%;
  }
  .card {
    width: 100%;
    margin: 3rem 0;
    box-shadow: 0 0 10px 1px #d3d3d3;
    display: flex;
    flex-direction: column;
  }
  .card img:first-child{
    width: 50%;
    margin: 10px auto;
    border: 2px solid #6753e8;
    
  }
  /* a {
    text-decoration: none;
    color: #222;
  } */
  
  .card-body {
    background-color: #c0b9eb;
  }
  .col.d-flex.flex-column {
    width: 100%;
    display: flex;
    padding: 1rem;
    gap: 1rem;
}
.col.d-flex.flex-column img{
    width: 75px;
    margin: 0;
}
h3.card-title {
    text-align: center;
    margin: 20px 0;
}
.buttons{
        display: flex;
        justify-content: space-evenly;
    
}
.buttons a{
    text-decoration: none;
    background: blue;
    color: #fff;
    padding: 10px 20px;
    margin-bottom: 10px;
    border-radius: 10px;
}
  .header-img {
    width: 100%;
    height: 200px;
    object-fit: cover;
  }
  .avatar-img {
    vertical-align: middle;
    width: 70px;
    height: 70px;
    border-radius: 50%;
    object-fit: cover;
  }
  